*{

    margin:0;

    padding:0;

    box-sizing: border-box;

}

body{

    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 50vh;

    flex-direction: column;

    background:#efefef;

}

.top-txt{

    margin-bottom: 15px;

}

.container{

    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);

    width: 90%;

    margin-top:50px;

    display: flex;

    /* justify-content: center; */

    align-items: center;  

    flex-direction: column;

    border-radius:5px; 

    padding:15px;

    background:white;

}

.container p{

    color: green;

    margin: 10px;

    font-size: 20px;

    font-weight: bolder;

}

.inputContainer{

    margin:5px;

    display: flex;

    justify-content: space-between;

    width:100%;

}

.inputContainer label{

    font-size: larger;

    color: green;

}

.inputContainer input{

    color: green;

    border:2px solid green;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);

    padding:4px;

    font-size: large;

    border-radius: 5px;

}
